body {
    max-width: 1200px;
    margin: 0 auto;
}
header,aside,article,footer {
    max-width: 980px;
    height: 200px;
}
header{
    background-color: blue;
}
#left{
    background-color: red;
}
article{
    background-color: green;
}
#right{
    background-color: pink;
}
footer{
    background-color: yellow
}
